* {
  box-sizing: border-box;
}

body {
    margin: 0;
    background: #333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    height: 100%;
    min-height:350px;
}

#root {
  width: 90%;
  margin: 0 auto;

  flex: 1 1 auto;
  min-height: 98%;

  display: flex;
  flex-direction: column;
}

#app-wrapper {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 4px;
  height: 100%;
}

#status-message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000c6;
  backdrop-filter: blur(5px);
  color: white;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;

  &:before {
    content: "";
    display: block;
    border-radius: 999px;
    width: 30px;
    height: 30px;
    border: 3px solid #ffffff;
    border-top: 3px solid rgba(255, 255, 255, 0);
    animation: spin 400ms linear infinite;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.flex-1 {
  flex: 1 1 auto;
}

#root > * {
  margin-bottom: 5px;
}

label {
  font-size: 0.5rem;
  display: block;
}

select {
  display: block;
  width: 100%;
}

button {
  padding: 8px 0;
}


#modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: #000000c6;
  backdrop-filter: blur(5px); 
  overflow: auto;
}

#modal-content {
  padding-bottom: 50px;
}

#modal-cancel {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 10px;
  background: #000000c6;
  backdrop-filter: blur(5px); 
  color: white;
  text-align: center;
  border: none;
  cursor: pointer;
}

.modal-option {
  padding: 10px;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
}
.modal-option:hover {
  background: #ffffff;
  color: #000000;
}